# R Grundlagen
Die folgende Darstellung basiert in weiten Teilen auf dem Buch [Programmieren mit R](http://www.statistik.uni-dortmund.de/~ligges/PmitR/) von Uwe Ligges. Aber auch das [R Data Visualization Cookbook](https://www.packtpub.com/big-data-and-business-intelligence/r-data-visualization-cookbook) wurde herangezogen.

Die wichtigste Informationsquelle ist sicherlich die [Website des R-Projekts](https://www.r-project.org/). Allerdings gibt es zahlreiche weitere Informationsquellen wie etwa die [R-Bloggers](https://www.r-bloggers.com/). Unzählige Ressourcen zu **R** finden sich im [**C**omprehensive **R A**rchive **N**etwork (CRAN)](https://cran.r-project.org/).

## R als Taschenrechner

In [1]:
2+4*5

[1] 22

In [2]:
4*3^2-6*6  # hier sollte 0 raus kommen (wichtiger Kommentar!)

[1] 0

**Punkt vor Strich** wird also beachtet!

In [3]:
2*cos(pi)

[1] -2

In [4]:
?tan

$\cos()$ und $\tan()$ sind **eingebaute Funktionen**. Eine Überischt über vorhandene eingebaute Funktionen erhält man zum Beispiel auf der [Referenzkatrte bei CRAN](https://cran.r-project.org/doc/contrib/Short-refcard.pdf). *Hilfe* zu speziellen Funktionen erhält man interaktiv durch ein *vorangestelltes Fragezeichen*.

In [5]:
-1/0  # negativ unendlich

[1] -Inf

In [6]:
1/0  # positiv unendlich

[1] Inf

In [7]:
0/0  # undefiniert (Not a Number)

[1] NaN

Es gibt also in R *spezielle Werte* für $+/- \infty$ oder undefinierte Größen!

## Stilfragen
Allgemein empfiehlt sich die Einhaltung von *Guidelines* wie etwa die von [Google](https://google.github.io/styleguide/Rguide.xml) zusammen getragenen.

### Zuweisungen in R
Hierfür gibt es verschiedene Möglichkeiten. Welche man verwendet ist eine Frage des **Stils** (s.o.), wobei Einiges für den klassischen Stil mit Hilfe des *Zuweisungspfeils* spricht.

In [8]:
x <- pi  # der Variablen x den Wert von Pi zuweisen (empfohlener klassischer R-Stil)
x

[1] 3.141593

In [9]:
x = exp(1)  # der Variablen x den Wert von e zuweisen (möglicher neuerer R-Stil)
x

[1] 2.718282

In [10]:
sin(pi) -> x  # der Variablen x den Wert von 0 zuweisen (NICHT ZU EMPFEHLEN, sowohl der Stil, als auch der Weg ...)
x

[1] 1.224647e-16

***Bemerkung***
Hinsichtlich der *Kommentierung* ergeben sich durch die Verwendung des Markdowns in Jupyter Notebooks natürlich ganz neue Möglichkeiten, da man nicht auf Kommentarzeilen im Code selbst angewiesen ist.

## Logik und Wahrheitswerte
Informationen zu logischen Vektoren und Operatoren erhält man im [R Handbuch](https://cran.r-project.org/doc/manuals/r-release/R-intro.html#Logical-vectors) oder etwas dateillierter an der [ETH Zürich](https://stat.ethz.ch/R-manual/R-devel/library/base/html/Logic.html).

### Einfache Vergleiche

In [11]:
5 > 6

[1] FALSE

In [12]:
(5 + 1) != 5

[1] TRUE

In [13]:
-5 < -4

[1] TRUE

### Logische Verknüpfungen

In [14]:
(1 >= 0) && (9 == 3^2) # Logisches UND

[1] TRUE

In [15]:
(1 == 0) || (9 == 3^2) # Logisches ODER

[1] TRUE

In [16]:
FALSE || TRUE

[1] TRUE

***Wichtig:*** Die Doppeloperatoren $||$ und $\$\$ $ werden nur so lange ausgewertet, bis das Ergebnis fest steht. Bei den Einzeloperatoren werden alle Teilausdrücke evaluiert (siehe die folgenden Schritte). Genauer spricht man von *vektorwertiger* (bei den Einzeloperatoren) bzw. *nicht vektorwertiger* (bei den Doppeloperatoren) Evaluierung.

In [17]:
x <- 1
x

[1] 1

In [18]:
TRUE || (x <- 2)  # Ausdruck ist TRUE und die Auswertung des ersten Teilausdrucks genügt

[1] TRUE

In [19]:
x

[1] 1

In [20]:
FALSE || (x <- 2)  # Hier muss auch der zweite Teilausdruck evaluiert werden

[1] TRUE

In [21]:
x

[1] 2

In [22]:
TRUE | (x <- 3)  # Beide Teilausdrücke werden evaluiert

[1] TRUE

In [23]:
x

[1] 3

In [24]:
logicalVector1 <- c(TRUE, TRUE)
logicalVector2 <- c(FALSE, TRUE)
logicalVector3 <- c(FALSE, FALSE)
logicalVector4 <- c(TRUE, FALSE)

In [25]:
logicalVector1 & logicalVector2  # vektorwertig, d.h. es gibt ein Ergebnis für beide Vektorelemente

[1] FALSE  TRUE

In [26]:
logicalVector1 && logicalVector2  # NICHT vektorwertig, d.h. es wird nur das erste Element evaluiert

[1] FALSE

In [27]:
logicalVector3 | logicalVector2  # vektorwertig, d.h. es gibt ein Ergebnis für beide Vektorelemente

[1] FALSE  TRUE

In [28]:
logicalVector3 || logicalVector2  # NICHT vektorwertig, d.h. es wird nur das erste Element evaluiert

[1] FALSE

In [29]:
logicalVector3 || logicalVector4  # NICHT vektorwertig, d.h. es wird nur das erste Element evaluiert

[1] TRUE

### Vektorielle logische Funktionen

In [30]:
vec <- c(7, 6, 5, 4, 3, 2, 1)  # einfacher Vektor
einige <- vec > 3
alle <- vec < 10

In [31]:
any(einige)  # gibt es wahre Elemente in "einige"?

[1] TRUE

In [32]:
any(alle)  # gibt es wahre Elemente in "alle"?

[1] TRUE

In [33]:
any(!alle)  # gibt es wahre Elemente in NICHT "alle" (der logischen Negation von "alle")?

[1] FALSE

In [34]:
all(einige)  # sind sämtliche Elemente von "einige" wahr?

[1] FALSE

In [35]:
all(alle)  # sind sämtliche Elemente von "alle" wahr?

[1] TRUE

In [36]:
which(einige)  # an welchen Stellen ist "einige" wahr?

[1] 1 2 3 4

In [37]:
which.max(vec)  # an welcher Stelle ist das Maximum von vec?

[1] 1

### Logische Konstante für fehlende Werte

In [38]:
logisch <- NA

In [39]:
str(logisch) # Strukur (Typ und Wert) der Variable "logisch" anzeigen

 logi NA

In [40]:
numVec <- c(5, logisch)
str(numVec)

 num [1:2] 5 NA

Der Vektor ist also numerisch, d.h. fehlende Werte können sich vom Datentyp her *anpassen*!

## Datentypen (Modi)

Es gibt die folgenden Datentypen

| Beschreibung |   Beispiel $\phantom{Platz!}$   | Datentyp (Modus)|
|--------------|----------|---------|
| die leere Menge $\emptyset$ | <tt>NULL</tt> | *NULL* |
| logische Werte | <tt>TRUE</tt> | *logical* |
| ganze und reelle Zahlen | $3.141$ | *numeric* |
| komplexe Zahlen | $2.718+3\mathrm{i}$ | *complex* |
| Buchstaben und Zeichenfolgen | "Hallo!" | *character* |

Diese kann man mit `mode()` abfragen, während der Speichertyp mit `typeof()` abgefragt wird. 

Die Tabelle gibt dabei eine *Hierarchie* der Modi wieder, wobei die leere Menge eine Sonderrolle einnimmt. Abgesehen davon kann ein Wert eines weiter oben stehenden Modus durch einen weiter unten stehenden repräsentiert werden.

In [41]:
(x <- exp(1))         # äußere Klammer bewirkt gleichzeitig die Ausgabe des Variablenwertes
(y <- as.integer(x))  # Informationsverlust!

[1] 2.718282

[1] 2

In [42]:
mode(x)

[1] "numeric"

In [43]:
typeof(x)

[1] "double"

In [44]:
mode(y)

[1] "numeric"

In [45]:
typeof(y)

[1] "integer"

In [46]:
is.character(y)  # Test auf Zeichenkette

[1] FALSE

In [47]:
z <- -1
sqrt(z)

Warning message in sqrt(z):
“NaNs wurden erzeugt”

[1] NaN

In [48]:
sqrt(as.complex(z))

[1] 0+1i

## Datenstrukturen

In R gibt es die Datenstrukturen *Vekotr*, *Matrix*, *Array*, *Datensatz* (Data Frame) und *Liste*. Selbst die sonst üblichen *Skalare* sind in R in Wahrheit Vektoren der Länge 1.

### Vektoren

Vektoren werden aus anderen mit Hilfe der Funktion `c()` (*combine* bzw. *concatenate*) gebildet.

In [49]:
(vec <- c(3.14, 6.2, 6.7))

[1] 3.14 6.20 6.70

In [50]:
(vec <- c(2.2, vec, 7.9))

[1] 2.20 3.14 6.20 6.70 7.90

In [51]:
typeof(vec)

[1] "double"

In [52]:
(zVec <- c("Hallo", "Welt"))

[1] "Hallo" "Welt"

In [53]:
typeof(zVec)

[1] "character"

In [54]:
(zVec <- c(zVec, TRUE, vec))  # die reellen Zahlen und der logische Wert werden in eine Zeichenkette umgewandelt

[1] "Hallo" "Welt"  "TRUE"  "2.2"   "3.14"  "6.2"   "6.7"   "7.9"

In [55]:
typeof(zVec)

[1] "character"

In [56]:
length(zVec)

[1] 8

In [57]:
(cVec <- c(5,0+1i))  # die (reelle) Zahl 5 wird in eine komplexe Zahl umgewandelt

[1] 5+0i 0+1i

#### Assoziative Vektoren
Man kann die Elemente eines Vektors auch benennen und später durch den Namen oder den Index darauf zugreifen.

In [58]:
(aVec <- c(Alter = 37, Hausnummer = 88))

     Alter Hausnummer
        37         88

*Zugriff auf Vektorelemente*

In [59]:
aVec[1]  # per Index (immer möglich)

Alter
   37

In [60]:
aVec['Alter']  # bei assoziativen Vektoren auch per Key (Name des Elements)

Alter
   37

#### Folgen und Wiederholungen

In [61]:
4:11  # Ganzzahlige Zahlenfolge mit Abstand 1

[1]  4  5  6  7  8  9 10 11

In [62]:
7:-3

 [1]  7  6  5  4  3  2  1  0 -1 -2 -3

In [63]:
seq(3,15, by = 2)  # Zahlenfolge mit beliebigem Abstand

[1]  3  5  7  9 11 13 15

In [64]:
seq(4, -1, by = -0.5)

 [1]  4.0  3.5  3.0  2.5  2.0  1.5  1.0  0.5  0.0 -0.5 -1.0

In [65]:
rep(2, 17)  # 17-malige Wiederholung der Zahl 2

 [1] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2

In [66]:
rep(c(2,3), 3) # 3-malige Wiederholung des Vektors (2,3)

[1] 2 3 2 3 2 3

In [67]:
rep(2:4, 3:5) # 3 mal 2, 4 mal 3, 5 mal 4

 [1] 2 2 2 3 3 3 3 4 4 4 4 4

In [68]:
(vec <- c(3.2, 4.5, 5.7) * 2)  # Skalarmultiplikation, d.h. jedes Vektorelement wird verdoppelt

[1]  6.4  9.0 11.4

In [69]:
vec + 3:5  # Vektoraddition elementweise

[1]  9.4 13.0 16.4

In [70]:
2:4 - 1:6 # 2-1, 3-2, 4-3, 2-4, 3-5, 4-6 (!! Länge des zweiten Vektors ist Vielfaches der Länge des ersten !!)

[1]  1  1  1 -2 -2 -2

In [71]:
2:4 - 1:4  # Länge kein Vielfaches --> Warnung!

Warning message in 2:4 - 1:4:
“Länge des längeren Objektes
 	 ist kein Vielfaches der Länge des kürzeren Objektes”

[1]  1  1  1 -2

#### Matrixmultiplikation
Hier sollen zunächst die Spezialfälle des *Skalarprodukts* $(1\times n \cdot n \times 1 \rightarrow 1\times 1)$ bzw. des *Matrix-Vektor-Produkts* $(n\times 1 \cdot 1 \times n \rightarrow n\times n)$ betrachtet werden. Der Operator für die Matrixmultiplikation ist `%*%`.

In [72]:
t(3:5) %*% 2:4  # (3,4,5)^t * (2,3,4) -- Skalarprodukt (1x3 * 3x1)

     [,1]
[1,] 38

In [73]:
2:4 %*% t(3:5) # Vektorprodukt (3x1 * 1x3)

     [,1] [,2] [,3]
[1,]  6    8   10
[2,]  9   12   15
[3,] 12   16   20

#### Umgang mit Vektorelementen
Das folgende Beispiel erläutert den Umgang mit Vektorelemeneten noch einmal zusammenfassend (siehe die jeweiligen Kommentare).

In [74]:
(vec <- c(2, 7, 3, 4, 2 , 1, 5))  # Initialisierung mit combine

[1] 2 7 3 4 2 1 5

In [75]:
length(vec)

[1] 7

In [76]:
vec[5]  # das 5. Element

[1] 2

In [77]:
vec[c(6,3)]  # das 6. und das 3. Element (in dieser Reihenfolge!)

[1] 1 3

In [78]:
vec[-c(2:4)]  # Ausschluss des 2. bis 4. Elements

[1] 2 2 1 5

In [79]:
(logVec <- vec < 3)  # TRUE, wenn das jeweilige Element von vec kleiner als 3 ist, sonst FALSE

[1]  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE

In [80]:
vec[logVec]  # logische Indizierung, also alle Elemente von vec, die kleiner als 3 sind

[1] 2 2 1

In [81]:
vec[vec < 3]  # auf direktem Wege

[1] 2 2 1

In [82]:
nameVec <- c(Apfel = 4, Birne = 2, Orange = 5)  # assoziativer Vektor (benannte Elemente)
nameVec['Birne']  # Zugriff mittels Namen

Birne
    2

In [83]:
nameVec['Birne'] <- 10  # Zuweisung eines neuen Werts für ein Element (überschreiben des Elements)
nameVec

 Apfel  Birne Orange
     4     10      5

In [84]:
vec[9:10] <- 12:11  # dem 9. und 10. Element Werte zuweisen

In [85]:
vec  # Achtung: NA für das 8. Element, da diesem noch nichts zugewiesen wurde!

 [1]  2  7  3  4  2  1  5 NA 12 11

In [86]:
length(vec)

[1] 10

In [87]:
vec[] <- 0  # alle 10 Elemente durch 0 ersetzen

In [88]:
vec

 [1] 0 0 0 0 0 0 0 0 0 0

In [89]:
vec <- 0 # überschreiben, d.h. man erhält einen einelementigen Vektor (Skalar) mit dem Wert 0

In [90]:
vec

[1] 0

In [91]:
length(vec)

[1] 1

## Matrizen
Matrizen sind *zweidimensional*, d.h., man spricht von $n\times m$-Matrizen, wobei $n$ die Anzahl der Zeilen und $m$ die Anzahl der Spalten bezeichnet. In R heißen diese Dimensionsgrößen `nrow` bzw. `ncol` und eine der beiden muss zumindest angegeben werden, wenn eine Matrix mit Hilfe der `matrix()`-Funktion erzeugt wird.

In [92]:
(X <- matrix(c(1,1,2,3,5,8), nrow = 2))

     [,1] [,2] [,3]
[1,] 1    2    5
[2,] 1    3    8

In [93]:
X[1, ]  # erste Zeile

[1] 1 2 5

In [94]:
X[, 2]  # zweite Spalte

[1] 2 3

Beim *Zugriff* auf Matrixelemente ist Vorsicht geboten. Je nachdem, ob man wirklich nur den *Wert* des Elements braucht (eindimensional) oder ob man eine $1\times1$-Matrix (zweidimensional) als Ergenis möchte, muss man ggf. verhindern, dass eine Dimension *fallen gelassen* wird.

In [95]:
X[2,3]  # Skalar (eindimensional)

[1] 8

In [96]:
X[2, 3, drop = FALSE]  # 1x1-Matrix (zweidimensional)

     [,1]
[1,] 8

Eine Übersicht über **Matrixfunktionen** findet man z.B. bei [Quick-R](http://www.statmethods.net/advstats/matrix.html). Im Folgenden sehen wir exemplarisch die Verwendung der Funktion `diag()`.

In [97]:
(A <- matrix(3:6, nrow = 2))  # Erzeugug einer 2x2 Matrix

     [,1] [,2]
[1,] 3    5
[2,] 4    6

In [98]:
diag(A)  # Ausgabe der Diagonale von A

[1] 3 6

In [99]:
diag(A) <- 0  # Diagonalelemente von A auf Null setzen
A

     [,1] [,2]
[1,] 0    5
[2,] 4    0

In [100]:
diag(3)  # die 3x3 Einheitsmatrix

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

#### Struktur einer Matrix
aus Sicht von R ist eine Matrix ein Vektor mit zwei Dimensionsattributen. Dies schauen wir uns im einzelnen an und lernen noch einen weiteren Weg kennen, eine Matrix zu erzeugen.

In [101]:
str(X)  # Struktur der Matrix X beschreiben

 num [1:2, 1:3] 1 1 2 3 5 8

In [102]:
(Y <- c(1,1,2,3,5,8))  # eindimensionaler Vektor mit den gleichen Werten, wie in der Matrix X

[1] 1 1 2 3 5 8

In [103]:
str(Y)  # Struktur von Y

 num [1:6] 1 1 2 3 5 8

In [104]:
dim(Y) <- c(2,3)  # aus Y eine Matrix machen (die gleiche wie X!)
Y

     [,1] [,2] [,3]
[1,] 1    2    5
[2,] 1    3    8

In [105]:
str(Y)  # Struktur von Y

 num [1:2, 1:3] 1 1 2 3 5 8

## Arrays
Diese können beliebig viele Dimsionen besitzen, wobei aber zumeist nicht mehr als drei Dimensionen verwendet werden. Arrays sind somit *Verallgemeinerungen* von Matrizen.

In [106]:
(Ar <- array(seq(2,24, by = 2), dim = c(2,2,3)))  # Ausgabe erfolgt linear

, , 1

     [,1] [,2]
[1,]    2    6
[2,]    4    8

, , 2

     [,1] [,2]
[1,]   10   14
[2,]   12   16

, , 3

     [,1] [,2]
[1,]   18   22
[2,]   20   24

In [107]:
str(Ar)  # Struktur des Arrays (--> wie erwartet)

 num [1:2, 1:2, 1:3] 2 4 6 8 10 12 14 16 18 20 ...

In [108]:
print(Ar)  # strukuriert ausgeben

, , 1

     [,1] [,2]
[1,]    2    6
[2,]    4    8

, , 2

     [,1] [,2]
[1,]   10   14
[2,]   12   16

, , 3

     [,1] [,2]
[1,]   18   22
[2,]   20   24

In [109]:
Ar[2,1,3]  # Zugriff auf ein bestimmtes Element

[1] 20

## Listen
Listen sind einfach *Sammlungen* verschiedener Objekte. Erzegut werden sie mit `list()`. Der Zugriff auf Listenelemente erfolgt mittels der eckigen Doppelklammer `[[]]`.

In [110]:
(L1 <- list(3:6, matrix(c(2,5,8,13), 2), c("Ein","Text")))

[[1]]
[1] 3 4 5 6

[[2]]
     [,1] [,2]
[1,]    2    8
[2,]    5   13

[[3]]
[1] "Ein"  "Text"

In [111]:
str(L1)

List of 3
 $ : int [1:4] 3 4 5 6
 $ : num [1:2, 1:2] 2 5 8 13
 $ : chr [1:2] "Ein" "Text"

In [112]:
L1[[3]]  # 3. Element von L1

[1] "Ein"  "Text"

In [113]:
L1[[2]][1,1]  # 1. Element des 2. Elements von L1

[1] 2

In [114]:
L1[[c(3,2)]]  # rekursive Angabe: 2. Element des dritten Elements von L1

[1] "Text"

In [115]:
(L2 <- list(Idee = 'Uwe Ligges', Liste1 = L1))  # Elemente können auch benannt werden (assoziative Listen)

$Idee
[1] "Uwe Ligges"

$Liste1
$Liste1[[1]]
[1] 3 4 5 6

$Liste1[[2]]
     [,1] [,2]
[1,]    2    8
[2,]    5   13

$Liste1[[3]]
[1] "Ein"  "Text"

In [116]:
L2$Idee  # Zugriff mit dem $-Operator

[1] "Uwe Ligges"

In [117]:
L2[['Liste1']][c(1,3)]  # 1. und 3. Element des Elements Liste1 von L2 (Ergebnis ist auch eine Liste!)

[[1]]
[1] 3 4 5 6

[[2]]
[1] "Ein"  "Text"

In [118]:
str(L2[['Liste1']][c(1,3)])

List of 2
 $ : int [1:4] 3 4 5 6
 $ : chr [1:2] "Ein" "Text"

## Datensätze - Data Frames
Dies ist *die* Datenstruktur in R für Data Science - eigentlich benötigen die meisten Funktionen in R Data Frames als Eingabe. Datensätze entsprechen beispielsweise auch Tabellen in relationalen Datenbanken.

Aus Sicht von R sind Data Frames spezielle Listen, nämlich solche, deren Elemente jeweils Vektoren gleicher Länge sind (genau wie Spalten einer Datenbank-Tabelle). Meist sind diese auch benannt (wie die Attribute (= Spalten) einer Datenbank-Tabelle). Erzeugt werden sie mit der Funktion `data.frame()`.

Normalerweise werden Data Frames daher auch auf Basis *externer Datenquellen* wie <tt>csv</tt>-Dateien oder Datenbank-Tabellen erzaugt. Hier betrachten wir zunächst ein Beispiel von Hand.

In [119]:
Hochschule <- data.frame(Studiengang = c('WF', 'IG', 'DSM', 'INF', 'IEW', 'WL', 'DM', 'ET'),
                         Fakultaet   = c('I',  'I',  'I',   'I',    'P',  'P',  'E',  'E' ),
                         Studierende = c(147,  153,  60,    33,    112,   143,  87 ,  101 ))

In [120]:
Hochschule

  Studiengang Fakultaet Studierende
1 WF          I         147
2 IG          I         153
3 DSM         I          60
4 INF         I          33
5 IEW         P         112
6 WL          P         143
7 DM          E          87
8 ET          E         101

In [121]:
str(Hochschule)

'data.frame':	8 obs. of  3 variables:
 $ Studiengang: Factor w/ 8 levels "DM","DSM","ET",..: 7 5 2 6 4 8 1 3
 $ Fakultaet  : Factor w/ 3 levels "E","I","P": 2 2 2 2 3 3 1 1
 $ Studierende: num  147 153 60 33 112 143 87 101

Die Strukturuntersuchung zeigt, dass Studiengang und Fakultaet als *Faktoren* aufgefasst werden. Nähere Informationen hierzu findet man etwa im [Gnu R Wikibook](https://de.wikibooks.org/wiki/GNU_R:_factor). Allgemein sind Faktoren *unabhängige Variablen* in einem (statistischen) Experiment und die Werte, die diese annehmen können, nennt man *Faktorstufen* (siehe auch [StatistikGuru](http://statistikguru.de/lexikon/faktor-faktorstufe.html)).

Der *Zugriff* auf einzelne Elemente kann wie bei Listen oder wie bei Matrizen erfolgen.

In [122]:
Hochschule$Studiengang[1]  # erste Variante

[1] WF
Levels: DM DSM ET IEW IG INF WF WL

In [123]:
Hochschule[[1]][1]  # zweite Variante

[1] WF
Levels: DM DSM ET IEW IG INF WF WL

In [124]:
Hochschule[1,1]  # dritte Variante

[1] WF
Levels: DM DSM ET IEW IG INF WF WL

In [125]:
Hochschule$Studiengang[Hochschule$Studierende > 120]  # lästig: wiederholte Angabe des Data Frame

[1] WF IG WL
Levels: DM DSM ET IEW IG INF WF WL

In [126]:
with(Hochschule, Studiengang[Studierende > 120])  # praktisch: Data Frame als Namensraum

[1] WF IG WL
Levels: DM DSM ET IEW IG INF WF WL

In [127]:
Hochschule[Hochschule[['Fakultaet']] == 'I',]  # wieder lästig (auch das Komma am Ende des Index ...)

  Studiengang Fakultaet Studierende
1 WF          I         147
2 IG          I         153
3 DSM         I          60
4 INF         I          33

In [128]:
subset(Hochschule, Fakultaet == 'I')  # wieder praktisch: Teilmenge mit Funktion mit Namensraum

  Studiengang Fakultaet Studierende
1 WF          I         147
2 IG          I         153
3 DSM         I          60
4 INF         I          33

In [129]:
subset(Hochschule, Fakultaet == 'I', select = c(1,3))  # die Fakultät kennen wir ja

  Studiengang Studierende
1 WF          147
2 IG          153
3 DSM          60
4 INF          33

In [130]:
subset(Hochschule, Fakultaet == 'I', select = -2)  # das Gleiche durch Ausschließen der zweiten Spalte

  Studiengang Studierende
1 WF          147
2 IG          153
3 DSM          60
4 INF          33

In [131]:
subset(Hochschule, Fakultaet %in% c('I', 'E'))  # Enthaltensein mit %in% testen

  Studiengang Fakultaet Studierende
1 WF          I         147
2 IG          I         153
3 DSM         I          60
4 INF         I          33
7 DM          E          87
8 ET          E         101

In [132]:
subset(Hochschule, Fakultaet %in% c('I', 'E') & Studierende > 100)  # kombinierte Bedingung

  Studiengang Fakultaet Studierende
1 WF          I         147
2 IG          I         153
8 ET          E         101

#### Aufteilung von Datensätzen
Mittels `split()` lassen sich Data Frames in mehrere andere aufteilen.

In [133]:
split(Hochschule, Hochschule$Fakultaet)

$E
  Studiengang Fakultaet Studierende
7          DM         E          87
8          ET         E         101

$I
  Studiengang Fakultaet Studierende
1          WF         I         147
2          IG         I         153
3         DSM         I          60
4         INF         I          33

$P
  Studiengang Fakultaet Studierende
5         IEW         P         112
6          WL         P         143

In [134]:
(XING <- data.frame(Studiengang = c('WF', 'IG', 'WI'), XINGGruppe = c('ja', 'ja', 'nein')))

  Studiengang XINGGruppe
1 WF          ja
2 IG          ja
3 WI          nein

#### Zusammenführen von Datensätzen
Mittels `merge()` lassen sich Datensätze (mit gemeinsamen Attributen) zusammen führen.

In [135]:
merge(Hochschule, XING, all = TRUE)

  Studiengang Fakultaet Studierende XINGGruppe
1 DM          E          87         NA
2 DSM         I          60         NA
3 ET          E         101         NA
4 IEW         P         112         NA
5 IG          I         153         ja
6 INF         I          33         NA
7 WF          I         147         ja
8 WL          P         143         NA
9 WI          NA         NA         nein

## Programm-Ablaufsteuerung
Schleifen und bedingte Anweisungen ermöglichen erst das eigentliche Prgrammieren.
### Bedingte Anweisungen
An verschiedenen Stellen in einem Programm werden *Fallunterscheidungen* benötigt. Dabei werden meist in Abhängigkeit vom Wahrheitswert einer *Bedingung* unterschiedliche Programmteile durchlaufen oder aber Schleifendurchläufe abgebrochen.

In R können Fallunterscheidungen mittels der Konstrukte
1. `if(Bedingung){Ausdruck1} else {Ausdurck2}`
2. `ifelse(Bedingung, Ausdruck1, Ausdruck2)`
getroffen werden oder aber mit Hilfe der Funktion `switch()`.

Dabei ist bei der ersten Variante des `if`-Konstrukts zu beachten, dass durch die Verwendung der geschweiften Klammern `{}` die Möglichkeit geschaffen wird, mehrere zusammenhängende Befehle zu einem Ausdruck zusammen zu fassen, also einen ganzen *Block* von Anweisungen bedingt ausführen zu lassen.

#### if ... else
Bei diesem Konstruckt ist zu beachten, dass die Bedingung *nicht vektorwertig* betrachtet wird. Dies bedeutet, dass im Falle einer vektorwertigen Bedingung nur das erste Element betrachtet würde. Außerdem ist es erlaubt, den `else`-Zweig wegzulassen. Das folgende kleine Beispiel verdeutlicht die Möglichkeiten.

In [136]:
x <- 8
if (x == 8) {
    x <- x + 1
    y <- 5
} else y<-7  # keine {}, da nur eine Anweisung
c(x = x, y = y)

x y
9 5

In [137]:
if (x < 10) print("x ist kleiner als 10")

[1] "x ist kleiner als 10"

#### ifelse
Hier erfolgt ein *vektorwertiger Vergleich*, d.h., es wird eine komponentenweise Auswertung der Bedingung vorgenommen. Führen wir das Beispile von eben weiter (wo $x$ derzeit den Wert 9 hat), dann könnten wir beispielsweise folgende Überprüfung samt Ausgabe vornehmen:

In [138]:
ifelse(x == c(8,9), c("v11", "v12"), c("v21", "v22"))

[1] "v21" "v12"

In der ersten Komponente wird geprüft, ob $x=8$ gilt. Das ist nicht der Fall, also ergibt sich der Wert `v21` aus der zweiten Alternative. Bei der zweiten Komponente wird geprüft, ob $x=9$ gilt. Das ist der Fall, also ergibt sich der Wert `v12` aus der ersten Alternative.
#### switch()
Mit `switch()` lassen sich in Abhängigkeit von einem Ausdruck mehrere Alternativen angeben.

In [139]:
switch(2, a = 1, b = 2, cc = 3, dd = 4)  # das 2. Element ausgeben

[1] 2

In [140]:
# das Element namens "c" (nicht existent!) ausgeben 
switch("c", a = 1, b = 2, cc = 3, dd = 4)

In [141]:
# das Element namens "cc" ausgeben 
switch("cc", a = 1, b = 2, cc = 3, dd = 4)

[1] 3

Weitere Beispiele sowie die Unterschiede zwischen einem numerischen Ausdruck und einem Zeichenketten-Ausdruck als Bedingung erhält man unter Verwendung der Hilfe mittels `?switch`.

### Schleifen
In R gibt es folgende Schleifentypen und Kontrollworte.


Schlleife bzw. Kontrollwort | Beschreibung
-------|------
`repeat{Ausdruck}` | Wiederholung des *Ausdruck*s
`while(Bedingung){AUsdruck}` | Wiederholung, solange *Bedingung* erfüllt ist
`for(i in M){Ausdruck}` | Wiederhole *Ausdruck* für jedes $i\in M$
`next` | Sprung in den nächsten Iterationsschritt
`break`| Sofortiges Verlassen der Schleife

#### repeat, next und break
Will man in R eine sogenannte *fußgesteuerte Schleife*, also eine Schleife, die mindestens einmal durchlaufen wird, verwenden, so geschieht das mit `repeat`. Allerdings bekäme man so eine *Endlosschleife*, wenn man nicht die Möglichkeit hätte, die Schelife auch wieder zu verlassen. Dies geschieht aufgrund des Eintretens einer Bedingung somit mit Hilfe der bereits betrachteten *bedingten Anweisung*.

In [142]:
i <- 0
repeat{
    i <- i + 1        # wiederholte Anweisung
    if(i == 5) break  # Abbruchbedingung
}
i

[1] 5

Nun lassen wir das Ergebnis noch innerhalb der Schleife ausgeben. Da dies nur ganz am Ende geschehen soll, müssen wir dafür sorgen, dass anderenfalls der nächste Schleifendurchlauf begonnen wird. Das ganze sieht dann so aus:

In [143]:
i <- 0
repeat{
    i <- i + 1        # wiederholte Anweisung
    if(i < 5) next    # nächste Iteration
    print(i)
    if(i == 5) break  # Abbruchbedingung
}

[1] 5

#### while
Die vorhergehenden Beispiele hätte man auch *kopfgesteuert* lösen können, wofür sich eine `while`-Schleife anbietet. Hier wird *vor* der Ausführung der Anweisungen überprüft, ob die Bedingung erfüllt ist. Dies führt dazu, dass eine solche Schleife unter Umständen gar nicht durchlaufen wird. Unser Beispiel sähe dann wie folgt aus:

In [144]:
i <- 0
while(i < 5)
    i <- i + 1  # ohne {}, da nur eine Anweisung
i

[1] 5

***Anmerkung:*** Zwar können `break` und `next` auch in `while`-Schleifen verwendet werden, aber dies ist definitiv nicht zu empfehlen und wird allgemein als *schlechter Stil* betrachtet.
#### for
In einer `for`-Schleife wird über die Elemente einer Menge (häufig eines *Vektors*) iteriert. D.h. die *Laufvariable* nimmt die Werte sämtlicher Elemente der Menge an und die Schleife wird mit diesem Wert ausgeführt. Unser bisheriges Beispiel sähe dann wie folgt aus:

In [145]:
ivec <- 0:4
for(i in ivec)  # Laufvariable i
    i <- i + 1
i

[1] 5

Ein weitergehendes Beispiel wäre das folgende:

In [146]:
set <- c(2, 5, 3, 7, 6, 0)  # ein Vektor
for(i in set)
    print(i^2)

[1] 4
[1] 25
[1] 9
[1] 49
[1] 36
[1] 0

Allerdings geht das auch einfacher:

In [147]:
print(set^2)

[1]  4 25  9 49 36  0

#### Keine Schleifen!
Wie das gerade gesehene Beispiel zeigt, können Schleifen in R oft durch den Einsatz *vektorwertiger Funktionen* vermieden werden. Dies sollte man unbedingt anstreben, da Schleifen in einer *interpretierten* Sprache wie R recht *ineffizient* sind!

## Zeichenketten
Eine kleinere Übersicht über die Funktionen zur Manipulation von Zeichenketten findet man wieder bei [Quick-R](http://www.statmethods.net/management/functions.html). Etwas umfangreicher ist die folgende Übersicht, wobei sich für die genaue Syntax zur Verwendung immer ien Blick auf die entsprechende Hilfeseite empfiehlt.

Funktion | Beschreibung
----|-----
`cat()` | Zusammenfügen und Ausgabe (auch in Dateien)
`deparse()` | Ausdruck in Zeichenfolge wandeln
`format()` | Formatierung
`grep()` | Suche von Zeichenfolgen in Vektoren
`match()`, `pmatch()` | Suche von (Teil-)Zeichenketten in anderen
`nchar()` | Anzahl Zeichen in einer Zeichenkette
`parse()` | Konvertierung in einen Ausdruck
`paste()` | Zusammensetzung von Zeichenketten
`strsplit()` | Zerlegen von Zeichenketten
`sub()`, `gsub()` | Ersetzen von (Teil-)Zeichenfolgen
`substring()` | Ausgabe (und Ersetzung) von Teil-Zeichenfolgen
`toupper`, `tolower()` | Umwandlung in Groß-/Kleinbuchstaben

Eine extensive Behandlung des Themas findet man im eBook von [Gaston Sanchez](http://gastonsanchez.com/Handling_and_Processing_Strings_in_R.pdf).

Es folgen ein paar wenige Beispiele.

In [148]:
# informative Ausgabe
x <- 7.4217
cat("Der Wert von x ist:", x, "\n", sep="\t")

Der Wert von x ist:	7.4217

In diesem Beispiel wurde als Trenner zwischen den Elementen nicht das standardmäßige Leerzeichen verwendet, sondern ein *Tabulator* (`\t`). Ebenso wurde für einen *Zeilenumbruch* (engl. *newline*; `\n`) gesorgt. Möchte man statt einer Ausgabe ein neues Objekt erzeugen, so verwendet man `paste()`.

In [149]:
dateien <- paste("Datei",1:3,".txt", sep="")
dateien

[1] "Datei1.txt" "Datei2.txt" "Datei3.txt"

In [150]:
# Aufteilung in Name und Endung
strsplit(dateien[1],"[.]")

[[1]]
[1] "Datei1" "txt"

Hier ist zu *beachten*, dass es sich bei der Zeichenfolge, anhand derer getilt werden soll, um einen [*regulären Ausdruck*](https://de.wikipedia.org/wiki/Regul%C3%A4rer_Ausdruck) handelt. Dabei ist der Punkt ein *Metazeichen*, welcher innerhalb der durch die eckigen Klammern getroffenen *Zeichenauswahl* seine ursprüngliche Bedeutung erhält. Dies wird auch explizit in der Hilfe zu `?strsplit` aufgegriffen.

In [151]:
?strsplit

In [152]:
# regulären Ausdruck suchen
grep("2", dateien)  # Ausgabe des Elements, in dem gefunden

[1] 2

In [153]:
grep("ei", dateien)  # Ausgabe der Elemente, in denen gefunden

[1] 1 2 3

In [154]:
# Ersetzung von "txt" durch "csv"
sub("txt","csv",dateien)

[1] "Datei1.csv" "Datei2.csv" "Datei3.csv"

In [155]:
# überschrieben wurde nicht!
dateien

[1] "Datei1.txt" "Datei2.txt" "Datei3.txt"

In [156]:
# so wird überschrieben!
dateien <- sub("txt","csv",dateien)

In [157]:
toupper(dateien)

[1] "DATEI1.CSV" "DATEI2.CSV" "DATEI3.CSV"

#### parse
Diese Funktion eröffnet die Möglichkeit, *berechnete Variablen* zur Laufzeit zu erzeugen, wenn man möchte (ob das gut ist, muss jeder selbst entscheiden). Man kann mit Hilfe on `parse()` einen *Ausdruck* erzeugen und diesen dann auswerten, als habe man ihn direkt eingegeben. Das folgende Beispiel verdeutlichet die Funktionsweise.

In [158]:
(ep <- parse(text = "neueVariable <- 9"))

expression(neueVariable <- 9)

In [159]:
# Ausdruck auswerten
eval(ep)

In [160]:
# neue Variable existiert und hat den Wert 9
neueVariable

[1] 9

#### Anführungszeichen
Will man Anführungszeichen innerhalb einer Zeichenkette haben, so muss man zwischen einfachen und doppelten Anführungszeichen wechseln oder den *Bsckslash* (`\`) zum escapen verwenden. Man hat also folgende Möglichkeiten:

In [161]:
"'str' in str"

[1] "'str' in str"

In [162]:
"\"str\" in str"

[1] "\"str\" in str"

In [163]:
'"str" in str'

[1] "\"str\" in str"

In [164]:
'\'str\' in str'

[1] "'str' in str"

#### Ungewöhnliche Objektnamen
Unter Zuhilfenahme von rückwärtsgerichteten Anführungszeichen (*Backticks*; \`) lassen sich beliebige Objektnamen vergeben, was aber unbedingt zu vermeiden ist. Wir werden nun der Variablen "`Das ist nicht gut auch wegen des ö!?* 1/2`" den Wert 5 zuweisen und anschließend damit rechnen:

In [165]:
(`Das ist nicht gut auch wegen des ö!?* 1/2` <- 5)

[1] 5

In [166]:
`Das ist nicht gut auch wegen des ö!?* 1/2` - 3

[1] 2

Dennoch ist es nützlich, dies zu wissen, da es im Zusammenhang mit dem Laden von Datensätzen vorkommen kann, dass Spalten Namen haben, auf die man dann nur auf diese Art zugreifen kann.
## Datum und Zeit
In sehr vielen Analysen gibt es eine Zeitdimension, so dass ein Analysewerkzeug mit Zeitangaben umgehen können muss. Dabei gibt es einige Herausforderungen wie beispielsweise Zeitzonen, Sommer-/Winterzeit und vor allem auch regionale Unterschiede in der *Darstellung* von Datum und Uhrzeit. So ist nicht von vornherein klar, wie etwa die folgende *Datumsangabe* zu interpretieren ist: 06/09/12
1. Es könnte ich nach deutscher Lesart um den 6. September 2012 hndeln
2. Ein Amerikaner würde wohl denken, es handle sich um dem 9. Juni 2012
3. Ein nach ISO-Norm arbeitender Computer würde daraus den 12. September 2006 lesen

Bei *Zeitangaben* ist es zwar meist klar, wie diese zu interpretieren sind, aber es gibt eben sehr unterschiedliche Formate (man denke nur an die im angelsächsichen Sprachraum gebräuchliche 12-Stunden-Darstellung unter Hinzufügen von `a.m.` (ante meridies = Vormittag = vor 12 Uhr mittags) und `p.m.?` (post meridies = Nachmittag = nach 12 Uhr mittags). Einen Überblick findet man in den entsprechenden Artikeln bei Wikipedia zu [Datumsangaben](https://de.wikipedia.org/wiki/Datumsformat) und [Schreibweisen von Uhrzeiten](https://de.wikipedia.org/wiki/Uhrzeit#Schreibweise).

Eine kurze Einführung zum Umgang von R mit Datum und Zeit findet man am im [Gnu R Wikibook](https://de.wikibooks.org/wiki/GNU_R:_Datum-_und_Zeitfunktionen). Wir betrachten ein ähnliches Beispiel, welches aber außerdem zeigt, dass die zum Parsen der Zeichenketten mit den Zeitangaben verwendete Funktion `strptime()` auch mit deutschen Monatsnamen umgehen kann und außerdem die Umstellung von Winter- auf Sommerzeit berücksichtigt.

In [167]:
# Zeitangaben als Zeichenketten
zeiten <- c("17. Mär 2017 14:00", "24. Mär 2017 15:45", "31. Mär 2017 17:15")
str(zeiten)

 chr [1:3] "17. Mär 2017 14:00" "24. Mär 2017 15:45" "31. Mär 2017 17:15"

In [168]:
(zeitenParsed <- strptime(zeiten, format="%d. %b %Y %R"))

[1] "2017-03-17 14:00:00 CET"  "2017-03-24 15:45:00 CET"
[3] "2017-03-31 17:15:00 CEST"

In [169]:
str(zeitenParsed)

 POSIXlt[1:3], format: "2017-03-17 14:00:00" "2017-03-24 15:45:00" "2017-03-31 17:15:00"

Genauere Informationen zur Funktion `strptime()` erhält man wieder über die eingebaute Hilfeseite. Hier lohnt sich insbesndere ein Blick auf die Möglichkeiten, die der Parameter `format` bietet (während man sich erst einmal nicht darum kümmern muss, was genau S3 bzw. S4 Klassen sind :smile:).

Weitere nützliche Funktionen sind `ISOdate(Jahr,Monat,Tag,Stunde,Minute,Sekunde)` zur einfachen Definition eines Datums sowie `Sys.time()` zur Ermittlung des aktuellen Datums und `difftime()` zur Berechnung von Zeitintervallen.

In [170]:
# Zeitpunkt des Mauerfalls
(mauerfall <- ISOdate(1989,11,09,18,57, tz="CET"))

[1] "1989-11-09 18:57:00 CET"

In [171]:
# Aktuelle Zeit
(jetzt <- Sys.time())

[1] "2019-03-21 16:24:21 CET"

In [172]:
vergangeneZeit <- jetzt-mauerfall
str(vergangeneZeit)

 'difftime' num 10723.8939974966
 - attr(*, "units")= chr "days"

In [173]:
as.numeric(vergangeneZeit, units="hours")

[1] 257373.5

In [174]:
as.numeric(vergangeneZeit, units="days")

[1] 10723.89

Dies beschließt die Einführung in die wichtigsten Grundlagen von R, wobei die Stärken von R natürlich in den umfangreichen *statistischen Funktionalitäten* inkl. *grafischer Ausgabe* liegen. Diese Themen werden später aufgegriffen, nachdem ebenfalls später der Umgang mit *(externen) Datenquellen* betrachtet wurde.